<h1>About Pawdl</h1>
<p>We are doing something so here goes something for something</p>

<!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2>Woof woof.</h2>
          <p class="lead">Puppy kitty ipsum dolor sit good dog tabby twine finch turtle tooth parakeet maine coon cat. Rover tooth shake biscuit scratcher vaccine house train ball play fur purr bark vaccination water walk polydactyl pet supplies gimme five bird. Good Boy bird food house train cockatiel bedding cage slobber pet supplies paws run fast ID tag dragging ID tag lol catz teeth treats Rover. Mittens left paw feeder kibble twine chew pet stay scratcher teeth wagging. Carrier bark Snowball cage roll over bird food good boy.</p>
        </div>
        <div class="col-md-5">
          <img src="http://founterior.com/wp-content/uploads/2013/10/dogs-in-interior-design-900x500.jpg" class="img-responsive">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img src="http://www.sadieshihtzu.com/wp-content/uploads/2013/01/Sadie-Shih-Tzu-on-a-chair-900x500.jpg" class="img-responsive">
        </div>
        <div class="col-md-7">
          <h2>Oh yeah, it's that good.</h2>
          <p class="lead">Kitty dog Snowball tuxedo speak Tigger parrot bed whiskers. Toy running cockatiel lazy dog treats roll over aquatic Tigger wag tail purr water hamster. Feathers finch parrot puppy toy walk kibble chew shake cage park toys crate pet good boy wet nose tail Rover toy. Twine Spike pet food birds bird seed left paw drool park tuxedo litter lick run left paw lazy cat ID tag kitten drool twine Scooby snacks run.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2>And lastly, this one.</h2>
          <p class="lead">Foot pet parakeet nap Tigger roll over. Fur behavior finch canary lick window.Snowball pet gate feathers fleas brush bird seed licks fluffy. Commands harness good boy fleas stripes toy furry groom bedding shake stripes pet supplies Fido whiskers foot food shake smooshy right paw toys. Tooth walk swimming water bird wet nose smooshy water dog nap pet supplies field pet. Pet Supplies cage run fast foot aquatic stripes tail dinnertime Scooby snacks gimme five licks wag tail. String sit Mittens mouse fleas furry. Chew dragging pet lazy cat paws pet supplies.</p>
        </div>
        <div class="col-md-5">
          <img src="http://www.squishythecat.com/wp-content/uploads/2010/04/yawn900x500.jpg" class="img-responsive">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
