<!-- START THE Carousel -->
 <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>



<!-- Wrapper for slides -->
<div class="carousel-inner">
    <div class="item active">
        <center><img src="http://founterior.com/wp-content/uploads/2013/10/dogs-in-interior-design-900x500.jpg" class="img-responsive"></center>
        <div class="carousel-caption">
          <h3>Something Something</h3>
            <p>a little bit of something for you to read. Really because wine is good, mice are bad and poinsettia's rock.</p>
        </div>
    </div>
    <div class="item">
        <center><img src="http://www.sadieshihtzu.com/wp-content/uploads/2013/01/Sadie-Shih-Tzu-on-a-chair-900x500.jpg" class="img-responsive"></center>
        <div class="carousel-caption">
          <h3>Something Something</h3>
            <p>a little bit of something for you to read. Really because wine is good, mice are bad and poinsettia's rock.</p>
        </div>
    </div>

    <div class="item">
        <center><img src="http://www.squishythecat.com/wp-content/uploads/2010/04/yawn900x500.jpg" class="img-responsive"></center>
        <div class="carousel-caption">
          <h3>Something Something</h3>
            <p>a little bit of something for you to read. Really because wine is good, mice are bad and poinsettia's rock.</p>
        </div>
    </div>
</div>


<!-- Controls -->
<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left">
    </span>
</a>
<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right">
    </span>
</a>
</div>

<!-- Service -->
<div class="section space">

      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-4">
            <h3><span class="glyphicon glyphicon-search"></span> Search!</h3>
            <p>It's easy! Set your location and you'll be able to find veterinarians. Whether you're home or on the road, you'll be able find a veterinarian to look over your little buddy.</p>
          </div>
          <div class="col-lg-4 col-md-4">
            <h3><span class= "glyphicon glyphicon-pencil"></span> Reviews!</h3>
            <p>Don't leave things to chance, find the right kind of care for your little buddy - read, write, and respond to reviews made for each veterinarian.</p>
          </div>
          <div class="col-lg-4 col-md-4">
            <h3><span class="glyphicon glyphicon-bell"></span> Alerts & Notifications!</h3>
            <p>You're busy and we get it. You'll auto-magically receive notifications when your little buddy is up for his or her next check up.</p>
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

</div><!-- /.section -->










<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
